@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2d8cff; /* Zoom Blue */
  --color-primary-secondary: #ecf5ff; /* Zoom Lighter Blue */
  --color-secondary: #f5f7fa; /* Light Gray Background */
  --color-accent: #e91e63; /* Pink Accent */
  --color-orange: #ff8800; /* Orange (e.g., for warnings) */
  --color-background: #ffffff; /* White Background */
  --color-background-2: #e2e6e9;
  --color-background-3: #cbd0d4;
  --color-background-4: #f8f8fa;
  --color-text-primary: #131619; /* Dark Text */
  --color-text-secondary: #5f6368; /* Lighter Text */
  --color-border: #6e7680; /* Gray boarder */
  --color-border-lighter: #e6e6e6; /* Lighter Gray boarder */
}

[data-theme="dark"] {
  --color-primary: #145ccb; /* Darker Blue for Dark Mode */
  --color-secondary: #1e1e1e; /* Dark Gray Background */
  --color-accent: #ff4081; /* Pink Accent for Dark Mode */
  --color-orange: #ff7700; /* Darker Orange for Dark Mode */
  --color-background: #121212; /* Very Dark Background */
  --color-text-primary: #e1e1e1; /* Light Text */
  --color-text-secondary: #a0a0a0; /* Lighter Text */
}
