.wb-index {
    grid-column: 1/-1 !important;
    display: grid;
    background-color: #fff;
    grid-template-columns: auto 1fr;
    grid-template-rows: 61px 1fr;

    .wb-sidebar {
        grid-row: 1/-1;
        grid-column: 1;
        background-color: aqua;
        width: 64px;

        @media (width>720px) {
            width: 220px;
        }
    }
    .wb-header {
        grid-column: 2;
        /* background-color: blue; */
        height: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25em;
        font-weight: 600;
        border-bottom: 1px solid rgba(82,82,128,.15);

        button {
            color: white;
            background-color: #0e72ed;
            height: 32px;
            padding-inline: 1em;
            display: flex;
            align-items: center;
            border-radius: .5em;
            /* justify-content: space-between; */
            svg {
                
                width: 1em;
                height: 1em;
                margin-inline-end: .25em;
            }
            span {
                font-size: 0.875em;

            }
        }
    }

    .wb-list {
    }
}
